flows (2).json
[{"id":"a260cacf.76fb38","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"e3bf4262.62a2c","type":"ui_button","z":"a260cacf.76fb38","name":"","group":"f5203d5c.b5a13","order":3,"width":"6","height":"1","passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":80,"wires":[["94e101aa.e872a"]]},{"id":"94e101aa.e872a","type":"http request","z":"a260cacf.76fb38","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://fc30a7e7-a627-4ab6-a09e-f339c0ce40d5-bluemix.cloudant.com/emergencyalert/_all_docs?include_docs=true&descending=true&limit=2","tls":"","persist":false,"proxy":"","authType":"basic","x":130,"y":220,"wires":[["63e6502a.0c6a8","94932034.7a5b4"]]},{"id":"63e6502a.0c6a8","type":"function","z":"a260cacf.76fb38","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["a6acf7db.3e1e58","2838e7bf.576258"]]},{"id":"2838e7bf.576258","type":"ui_template","z":"a260cacf.76fb38","group":"f5203d5c.b5a13","name":"","order":1,"width":"6","height":"4","format":"<img ng-src=\"{{msg.payload}}\">\n<img ng-src=\"{{msg.payload}}\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":260,"wires":[[]]},{"id":"a6acf7db.3e1e58","type":"debug","z":"a260cacf.76fb38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":180,"wires":[]},{"id":"94932034.7a5b4","type":"function","z":"a260cacf.76fb38","name":"Image2","func":"msg.payload=msg.payload.rows[1].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["8a87d6a5.1a2c98","2838e7bf.576258"]]},{"id":"8a87d6a5.1a2c98","type":"debug","z":"a260cacf.76fb38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":420,"wires":[]},{"id":"f5203d5c.b5a13","type":"ui_group","z":"","name":"CrimeScenes","tab":"273fc0bd.89811","order":1,"disp":true,"width":"6","collapse":false},{"id":"273fc0bd.89811","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]