nodered.flows.json
[{"id":"2999d24c.d9236e","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"99386fd0.a8ac2","type":"ui_button","z":"2999d24c.d9236e","name":"","group":"f5203d5c.b5a13","order":3,"width":"6","height":"1","passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":80,"wires":[["474526b5.447a28"]]},{"id":"474526b5.447a28","type":"http request","z":"2999d24c.d9236e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://fc30a7e7-a627-4ab6-a09e-f339c0ce40d5-bluemix.cloudant.com/emergencyalert/_all_docs?include_docs=true&descending=true&limit=2","tls":"","persist":false,"proxy":"","authType":"basic","x":130,"y":220,"wires":[["105efd9d.3758a2","bf29ce9a.9128c"]]},{"id":"105efd9d.3758a2","type":"function","z":"2999d24c.d9236e","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["a679e8e4.72feb8","c42bc326.9c3b4"]]},{"id":"c42bc326.9c3b4","type":"ui_template","z":"2999d24c.d9236e","group":"f5203d5c.b5a13","name":"","order":1,"width":"6","height":"4","format":"<img ng-src=\"{{msg.payload}}\">\n<img ng-src=\"{{msg.payload}}\">\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":260,"wires":[[]]},{"id":"a679e8e4.72feb8","type":"debug","z":"2999d24c.d9236e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":180,"wires":[]},{"id":"bf29ce9a.9128c","type":"function","z":"2999d24c.d9236e","name":"Image2","func":"msg.payload=msg.payload.rows[1].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["fedba535.57e178","c42bc326.9c3b4"]]},{"id":"fedba535.57e178","type":"debug","z":"2999d24c.d9236e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":420,"wires":[]},{"id":"f5203d5c.b5a13","type":"ui_group","z":"","name":"CrimeScenes","tab":"273fc0bd.89811","order":1,"disp":true,"width":"6","collapse":false},{"id":"273fc0bd.89811","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]